.introducao-bg{
    background: black;
    color: rgb(15, 12, 12);
    
}



    .botao::after {
        content: "";
    display: block;
    height: 2px;
    width: 0;
    background: rgb(12, 12, 12);
    margin-top: 4px;
    transition: 0.4s;
    position: absolute;
     }

     .botao:hover:after{
        width: 4.5%;
     }
