.cor-branco{
  color: #ffff;
}

.cor-cinza{
  color: #b2b2b2;
}

:root{
  --cor-p1: #f5ca0b;
}
.cor-amarelo {
  color: #f5ca0b;
}

.cor-p1{
  color: var(--cor-p1);
  }

.cor-preta{
  color: black;
}


.cor-cinza{
  color: #292828;
}

.cor-cinza-claro{
  color: #ada9a9;
}

