.depoimento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f5ca0b;
   
}

.depoimento img{
    border-radius: 0px ;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    .depoimento-conteudo{
        padding: 40px 40px 80px 80px;
        align-self: center;

    }

    .depoimento-conteudo p {
        max-width: 32ch;
        font-family: "Merriweather", serif;
        font-style: italic;
        font-weight: 900;
        margin-bottom: 32px;
        position: relative;
      }
      
      .depoimento p::before,
      
      .depoimento p::after {
        font-size: 3rem;
        color: #e4a30b;
        position: absolute;
      }
      
      .depoimento p::before {
        content: "“";
        left: -30px;
        top: -20px;
      }
      
      .depoimento p::after {
        content: "”";
      }

      .nome-depoimento{
        font-size: 1.5rem;
        font-family: "Merriweather", serif;
        font-weight: 400;
        color: rgb(61, 61, 61);
        font-style: italic;
      }

      @media (max-width: 1200px) {
        .depoimento p {
            font-size: 2rem;
             }
        .depoimento {
          grid-template-columns: 1fr;
          text-align: center;
        }
        .depoimento img {
          max-height: 200px;
        }
        .depoimento-conteudo {
          padding: 40px 20px;
          margin: auto;
        }

        .depoimento p::before{
            content: " “ ";
            font-size: 4rem;
            font-weight: 400;
             }
      
      }
      