.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
   
}

.introducao-conteudo{
    align-self: end;
    padding-bottom: 50%;
    margin-left: 40px;
    margin-right: 40px;
}



.introducao img{
   
    height: 100%;
    object-fit: cover;
    

}

.introducao h1{
    margin-bottom: 32px;
  
 }


 .introducao p{
     color: gray;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

 }

 .introducao a {
    padding:  16px 32px;
    background: #e4bc08;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
    text-transform: uppercase;
    font: 600 1.125rem/1.35 "arial", sans-serif;
    color: var(--cor-p5);
    max-width: max-content;
    border: none;
    cursor: pointer;
    font-color
}

@media (max-width: 900px) { 
   
    .introducao h1 {
        font-size: 2rem;
        margin-bottom:1rem;
        
    }
    .introducao a{
    
     padding: 10px 20px;
    }

    .introducao-conteudo{
        margin-left: 20px;
        justify-content: flex-start;
        gap: 20px
    }

    .introducao p{
    
        font-size: 1rem;
    }

    
     
