.cor-branco{
    color: #ffff;
}

.cor-cinza{
    color: #b2b2b2;
}

:root{
    --cor-p1: #e4bc08;
}

.cor-p1{
    color: var(--cor-p1);
    }

.cor-preta{
    color: black;
}


.cor-cinza{
    color: #292828;
}